* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    width: 90%;
    margin: 0 auto;
}

.hero-container {
    color: #fff;
    background: url('../images/hero-background.jpg') center center/cover;
    background-position-y: 100%;
    height: 70vh;
    padding: 6%;
    width: 100%;
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#888, #888, #666, #666 85%, #888);
    width: 76%;
    margin: 0 auto;
    border-radius: .3em;

}

.navbar .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: .1px solid #555;
}

.nav-item.nav-item-logo {
    border: none;
    padding: 0 2rem;
    display: flex;
}

.navbar .nav-item a {
    color: #fff;
    font-size: .8rem;
    text-decoration: none;
    padding: .5rem 2rem
}


.logo {
    width: 1.5rem;
}

.searchbar {
    width: 100px;
    font-size: 1rem;
    margin: 0 1rem;
    border-radius: 10000000000px;
    outline: none;
    border: 1px solid black;
    opacity: .1;
}

.lead {
    margin: 1.5rem auto 1rem;
    font-size: 4rem;
    font-weight: 100;
}

.lead-follow {
    font-size: 2rem;
    width: 65%;
    margin: 0 auto 2rem;
    font-weight: 100;
}

.video-prompt {
    font-size: 1.5rem;
    font-weight: 100;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 3px 0;
}

.card-container img {
    width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: .65rem;
    color: #333;
    width: 70%;
    margin: .5rem auto;
}

.footer a {
    color: #09a;
    text-decoration: none;
}

.footer-shop,
.footer-nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.footer-nav-item {
    padding: 0 .3rem;
    border-right: 1px solid #bbb;
}

.no-border {
    border: none;
}

.copyright-info {
    padding: .7rem 0;
}

.footer img {
    width: 1.2rem;
}